---
import { Icon } from "astro-icon/components";

import { links, technologies, technologyIcons } from "~/app/consts";
import MainLayout from "~layouts/MainLayout.astro";

const projects = [
  {
    name: "Job Fair web",
    description: "A web application for the Job Fair at FER.",
    technologies: [
      technologyIcons.vue,
      technologyIcons.nuxt,
      technologyIcons.express,
      technologyIcons.typescript,
      technologyIcons.prisma,
      technologyIcons.postgres,
      technologyIcons.graphql,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/KSET/jobfair-2022",
        icon: "simple-icons:github",
      },
      {
        name: "Website",
        href: "https://jobfair.fer.unizg.hr/",
        icon: "mdi:web",
      },
    ],
  },

  {
    name: "Twitter Screenshotter",
    description:
      "Application that takes screenshots of tweets (and various other platforms).",
    technologies: [
      technologyIcons.express,
      technologyIcons.playwright,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/twitter-screenshotter",
        icon: "simple-icons:github",
      },
      {
        name: "Website",
        href: "https://twitter.igr.ec/",
        icon: "mdi:web",
      },
    ],
  },

  {
    name: "ZEZ Web",
    description: "A web application for the ZEZ project.",
    technologies: [
      technologyIcons.react,
      technologyIcons.typescript,
      technologyIcons.next,
      technologyIcons.tailwind,
      technologyIcons.vercel,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/KSET/zez-2023",
        icon: "simple-icons:github",
      },
      {
        name: "Website",
        href: "https://zez.josip.igr.ec/",
        icon: "mdi:web",
      },
    ],
  },

  {
    name: "Karaokify bot",
    description:
      "A Telegram bot that takes a link to a song and removes the vocals.",
    technologies: [
      technologyIcons.rust,
      {
        name: "demucs",
      },
      technologyIcons.telegram,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/karaokify-rs",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "Media Downloader bot",
    description:
      "A Telegram bot that downloads media and does various transformations.",
    technologies: [
      technologyIcons.rust,
      technologyIcons.telegram,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/meme-downloader-rs",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "Downloader Hub",
    description:
      "An API that does what the bot does for now, but more streamlined and with a REST API.",
    technologies: [
      technologyIcons.rust,
      technologyIcons.axum,
      technologyIcons.postgres,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/downloader-hub",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "Member Verification Bot",
    description:
      "A Discord bot that verifies members based on membership data.",
    technologies: [
      technologyIcons.bun,
      technologyIcons.typescript,
      technologyIcons.discord,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/KSET/discord-verifikator-bot-2024",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "KSET Comp CTF",
    description: "A simple CTF site with a couple challenges.",
    technologies: [
      technologyIcons.react,
      technologyIcons.next,
      technologyIcons.tailwind,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/KSET/comp-ctf-2023",
        icon: "simple-icons:github",
      },
      {
        name: "Website",
        href: "https://ctf.comp.kset.org/",
        icon: "mdi:web",
      },
    ],
  },

  {
    name: "Heimdall",
    description: "Application for door access control.",
    technologies: [
      technologyIcons.elixir,
      technologyIcons.phoenix,
      technologyIcons.docker,
    ],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/KSET/heimdall",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "IosevkAlly",
    description: "A custom version of Iosevka (that you're currently reading)",
    technologies: [technologyIcons.python, technologyIcons.pkl],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/IosevkAlly",
        icon: "simple-icons:github",
      },
    ],
  },

  {
    name: "Dotfiles",
    description: "My dotfiles to show my l33t h4x0r status",
    technologies: [],
    links: [
      {
        name: "GitHub",
        href: "https://github.com/Allypost/dotfiles",
        icon: "simple-icons:github",
      },
    ],
  },
].map((x) => ({
  ...x,
  id: `project-${x.name.toLowerCase().replace(/[^\w]/g, "-").replace(/-+/g, "-")}`,
})) as {
  id: string;
  name: string;
  description: string;
  body?: string;
  technologies: {
    name: string;
    icon?: string;
  }[];
  links: {
    name: string;
    href: string;
    icon?: string;
  }[];
}[];
---

<MainLayout
  title="About me"
  mainClass="mt-4 flex w-full max-w-[60ch] flex-col gap-8"
>
  <h1 class="text-center text-4xl font-bold">
    <pre><code><span class="opacity-50 text-highlight">$</span> <span>whoami</span></code></pre>
  </h1>

  <p>
    I'm a full-stack engineer who enjoys learning new things and really
    understanding how stuff works.
  </p>

  <p>
    I also like to minimize complexity and cruft in both code and design.
    Especially with UI/UX, often overlooked by developers as "stuff the posh
    people from design do", blindly following either side can lead to poor
    implementations and frustration on both sides which I try to avoid at all
    cost.
  </p>

  <p>
    I love to learn about things, but I also love to teach. I've been a lecturer
    and examiner for 5 years on a couple subjects at FER (<a
      target="_blank"
      rel="noopener noreferrer"
      title="Basic Use of Linux Operating System"
      href="https://www.fer.unizg.hr/en/course/okosl">OKOSL</a
    >, <a
      target="_blank"
      rel="noopener noreferrer"
      title="Advanced Use of Linux Operating System"
      href="https://www.fer.unizg.hr/en/course/nkosl">NKOSL</a
    >), and love to give talks if given the opportunity (most recently at <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/zgphp/zgphp-meetup-talks/blob/177a2acb0ae8969a435a9a05eb8ef4d1b46ccb0b/meetups/2024/05/josip-igrec--docker-what-why-and-how.md"
      >ZgPHP on the topic of Docker</a
    >).
  </p>

  <div>
    <h3 id="tech" class="text-xl font-bold">Technologies I use/have used:</h3>
    <div class="flex flex-wrap gap-2">
      {
        technologies.map((t) => (
          <span class="cursor-default rounded-md bg-base-fg px-2 py-1 font-bold text-base-bg opacity-85 transition-opacity duration-500 hover:opacity-100 hover:transition-none">
            {t}
          </span>
        ))
      }
    </div>
  </div>

  <div class="flex flex-col items-start">
    <h3 class="text-xl font-bold">Links to my socials:</h3>
    <ul>
      {
        Object.values(links).map((x) => (
          <li class="my-1">
            <a
              href={x.href}
              target="_blank"
              rel="noopener noreferrer"
              class="link-no-external link-monochrome flex items-center gap-2 px-1 py-0.5"
            >
              <Icon name={x.icon} />
              <span>{x.text}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="flex flex-col gap-2">
    <h3 id="projects" class="text-xl font-bold">My projects</h3>
    <p>
      These are some of the projects I made and/or worked on. This won't include
      work I've done as part of a company, but will include freelance projects.
    </p>
    <div class="flex flex-col items-stretch gap-4">
      {
        projects.map((x) => (
          <article class="flex flex-col gap-2 rounded-md border-2 border-highlight/50 p-2 shadow-lg shadow-highlight/0 transition-shadow duration-500 hover:shadow-highlight/30">
            <h4 class="text-lg font-bold" id={x.id}>
              {x.name}
            </h4>
            <p class="opacity-80">{x.description}</p>
            {x.body || x.technologies.length > 0 ? (
              <details class="rounded-md border border-base-fg/20 p-2">
                <summary class="cursor-pointer">More info</summary>
                <div class="mt-2" />
                {x.body ? <p>{x.body}</p> : null}
                <div>
                  <h5 class="flex-1 opacity-80">Technologies:</h5>
                  <div class="mt-1 flex flex-wrap gap-1">
                    {x.technologies.map((tech) => (
                      <div class="flex items-center justify-center gap-1 rounded-md border border-base-fg/30 px-1 py-1.5">
                        {tech.icon ? <Icon name={tech.icon} /> : null}
                        <span>{tech.name}</span>
                      </div>
                    ))}
                  </div>
                </div>
              </details>
            ) : null}
            <div class="flex flex-wrap gap-2">
              {x.links.map((l) => (
                <a
                  href={l.href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="link-no-external link-monochrome flex items-center gap-1 px-1 py-0.5"
                >
                  <Icon name={l.icon} />
                  <span>{l.name}</span>
                </a>
              ))}
            </div>
          </article>
        ))
      }
    </div>
  </div>
</MainLayout>
