---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";

import { BUILD_DATE, links } from "~/app/consts";
import { cn } from "~/app/css";

type Props = HTMLAttributes<"footer">;

const today = new Date();
const socials = [
  {
    text: "Follow me on Mastodon",
    href: links.mastodon.href,
    icon: links.mastodon.icon,
  },
  {
    text: "Follow me on GitHub",
    href: links.github.href,
    icon: links.github.icon,
  },
  {
    text: "Add me on LinkedIn",
    href: links.linkedin.href,
    icon: links.linkedin.icon,
  },
  {
    text: "RSS Feed",
    href: new URL("/blog.xml", Astro.site),
    icon: "simple-icons:rss",
  },
];
---

<footer class={cn("flex text-center", Astro.props.class)} {...Astro.props}>
  <div class="mx-auto rounded-t-lg p-4 pb-2">
    <div class="opacity-50">
      &copy; <time
        datetime={BUILD_DATE.toISOString()}
        id="footer__current-year"
      >
        {today.getFullYear()}
      </time> Josip Igrec. All rights reserved.
    </div>
    <div class="mt-2 flex justify-center gap-4 text-2xl">
      {
        socials.map((social) => (
          <a
            href={social.href}
            target="_blank"
            rel="noopener noreferrer"
            class="link-no-invert link-no-external opacity-50 transition-opacity duration-300 hover:opacity-100 hover:transition-none"
            title={social.text}
          >
            <span class="sr-only">{social.text}</span>
            <Icon name={social.icon} />
          </a>
        ))
      }
    </div>
  </div>
</footer>
<script>
  const el = document.getElementById("footer__current-year");
  if (el) {
    const now = new Date();
    el.innerText = String(now.getFullYear());
    el.setAttribute("datetime", now.toISOString());
  }
</script>
