---
/* eslint-disable @typescript-eslint/no-unsafe-assignment */
import "~/styles/tailwind.scss";

import { cn } from "~/app/css";
import { BUILD_DATE } from "~/app/consts";
import BaseHead, {
  type ImageProp,
  type SeoProps,
} from "~components/BaseHead.astro";
import Footer from "~components/Footer.astro";
import Header from "~components/Header.astro";
import type { Simplify, SetNonNullable } from "type-fest";
import type { HTMLAttributes } from "astro/types";

type PreloadFile = Simplify<
  SetNonNullable<Required<Pick<HTMLAttributes<"link">, "href" | "as" | "type">>>
>;

type Props = {
  title?: string;
  description?: string;
  image?: ImageProp;
  mainClass?: string;
  seo?: SeoProps;
  preloadFiles?: PreloadFile[];
};

const { title, description, image, mainClass, seo, preloadFiles } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      seo={seo}
      preloadFiles={preloadFiles}
    />
    <meta name="build-date" content={BUILD_DATE.toISOString()} />
  </head>
  <body class="flex min-h-screen flex-col bg-base-bg bg-cover text-base-fg">
    <Header />
    <main class={cn("mx-auto w-full max-w-4xl flex-1 p-4", mainClass ?? "")}>
      <slot />
    </main>
    <Footer class="mt-auto" />
  </body>
</html>
